<launch>
    <node name="usb_cam_driver_$(env ROS_NANOPI_NO)" pkg="phobos_nanopi" type="usb_cam_driver" output="screen" ns="rover" respawn="true">
        <param name="/camera_number" value="$(env ROS_NANOPI_NO)"/>
        <param name="/delay_ms" value="$(env ROS_STARTUP_DELAY)"/>
    </node>
</launch>
